<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>目標公司</title>
        </head>
        <body bgcolor="#FFFFFF">
            <table width="100%" border="0" align="center" bgcolor="#46A3FF">
        <tr>
            <td><font size="10px">
                <div style="padding-left: 50px;"><h2>狄卡科技股份有限公司</h2></div></font>
            </td>
            <td>
                website: <a href="https://about.dcard.tw/">https://about.dcard.tw/</a><br>
                address:台北市大安區光復南路102號14樓
                </div><hr>
                </font>
            </td>
        </tr>
    </table><br><br><br><br>
            <table width="80%" border="0" align="center">
                <tr>
                    <td align="center">
                        <img src="/static/dcard.jpg" width="90%" style="display:block; margin:auto;" />
                        </img>
                    </td>
                    <td><font size="5px">
Dcard 結合科技與人文搭起一座橋樑，豐富每個人的生活、<br>
讓每個人找到共鳴。面對快速變化的網路生態，我們聚焦長<br>期使命願景、年度戰略，夥伴們專注在公司戰略與目標，用<br>成長型思維打造一個快速成長也充滿溫度的企業文化。<br>
<br>
我們致力於打造讓人放心分享自己故事的場域，讓平凡人<br>
分享不平凡故事的新世代服務。
<br>Dcard是全台最大的匿名社群，在年輕族群有極高滲透率<br>
與影響力。不止步於台灣社群取得極大影響力，我們正全<br>
力擴張版圖，強力發展廣告、電商、IP 新型業務及跨國<br>
市場，持續往世界級網路公司的目標努力。<br></font>
                    </td>
                </tr>
            </table><br><br><br><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            <td>
                
                <font size="6px">
                <strong>服務項目</strong></font>
                <hr>
                
            </td>
        </tr>
    </table>

    <table width="80%" border="1" align="center">
        
        <tr>
            <td>
                <font size="5px">
                </font><br>
                ▌社群 - 全台最大的匿名社群<br>
                年輕人都在 Dcard 上討論！在年輕族群具極高滲透率與影響力，目前服務範圍擴及台灣、香港、日本。<br>
                https://www.dcard.tw/f<br>

                ▌電商 - 好物研究室<br>
                Dcard 電商服務，類別涵蓋美妝、生活家居、美食等品項！除了產品外，在好物研究室上也能找到產品使用心得，讓人有不一樣的消費體驗！<br>
                https://www.dcard.tw/goods<br>

                ▌廣告 - Dcard 廣告投放<br>
                鎖定年輕族群，讓企業透過 Dcard 廣告精準鎖定用戶，讓年輕世代接觸到不同品牌！<br>
                https://dcard.link/PFNiZG<br>

                ▌跨國產品 Dtto<br>
                日本大學生專屬社群，不管是學業、戀愛的煩惱，或是未來求職⋯ Dtto 讓日本大學生可以在這個場域放心分享自己故事。<br>
                https://about.dtto.com/<br>

                ▌影音品牌 Dcard Video<br>
                Dcard 的影音品牌，自製多款影音節目，內容包含街訪、棚內到幕後等多元企劃，拍出新世代的生活型態。<br>
                https://dcard.link/8hjeju<br>

                ▌角色品牌 dtto friends<br>
                Dcard 的可愛角色群，每個角色乘載著不同的情感，目前出沒在 Dcard 留言、文章等地方，還會以更多形式出現在大眾生活的每個角落！<br>
                https://www.instagram.com/dttofriends/<br><br>
            </td>
        </tr>
    </table><br>
    </body>
</html>