<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>何論碼</title>
    </head>
    <body>
        <br>
        <font size="5px">
            <br><br>
        <div style="padding-left: 160px;" >1.Holland 碼三碼以及Holland 碼的類型名稱：</div><br>
    <img src="/static/2222.jpg" width="65%" style="display:block; margin:auto;" />
    </img><hr><br>
        <div style="padding-left: 160px;">2. 我的Holland 碼職業性格描述，以幫助我了解自己的職業性格傾向、價值觀以及適合我的職業領域等：
        </div><br>
    <img src="/static/3333.jpg" width="65%" style="display:block; margin:auto;" />
    </img><hr><br>
        <div style="padding-left: 160px;">3.大專校院就業職能平台(UCAN)將職業性格類型分為六類來描述不同的職業性格傾向與適合的職業環境，<br>分別為：實用型、研究型、藝術型、社會型、企業型及事務型，各類型滿分為十二分，以下是我在六類職<br>
        業性格類型分數上的得分：
        </div>
    <img src="/static/1111.jpg" width="65%" style="display:block; margin:auto;" />
    </img><hr><br>
    <div style="padding-left: 160px;">4.以下是何論碼結果:<br><br></div>
    <img src="/static/5555.jpg" width="50%" style="display:block; margin:auto;" />
    </img>
    <div style="padding-left: 160px;">我的職業性格主要為<strong bgcolor=" #FF0000">R實用型、C事務型、S社會型</strong>，在各類型滿分12分中，實用型的分數是6分、事務型的分<br>數是
        4分、社會型的分數是4分，在我個人的六類型分數比較中：<br><br>
對實用型、事務型、社會型的職業興趣相較於對其他類型的興趣沒有明顯的區分，也就是說雖然最有興趣的<br>職業類型是實用型、事務型、社會型，但與其他三類型比較之下差異沒有很大，表示我對實用型、事務型、社會型<br>
的興趣並不是非常突顯。</div>
    <br>
    <br>
    <img src="/static/6666.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">實用型的人是典型的實作者(Doer)，性格特徵為情緒穩定、坦誠直率、獨立實際、謙虛有禮、穩健節儉。
        <br>
         在職業性格傾向上，喜歡講求實際、動手操作、按部就班完成實際用途物品等技術性、體力性的工作，<br>例如操作機械、工具、運動設備或養育動物等工作，寧願實際動手作而不喜歡多言，比較喜歡獨立做事，<br>避免主觀性、學術性、富想像力或人際互動的工作類型。
         實用型的人的價值觀是重視傳統的，將雄心與自我控制視為重要的價值觀，講求實事求是而非寬容的態度，<br>
         形成較封閉的價值觀系統。
         在問題解決策略上，偏好於具體、實際和有架構的解決方案或策略，而非學術性、富想像力或人際互動的行動。<br>
         實用型適合從事技術性、體力性之典型職業例如：機械維護師、電器工程人員、太空人、塔台工程師、飛行員、廚師、<br>工匠、農業工作、汽車修護員、警察、消防員等。</div>
         <br><br>
    <img src="/static/7777.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">社會型的人是典型的“幫助者”(helper)，在性格特徵上是合作、友善、慷概、助人、仁慈、         事務型的人是<br>典型的“文書者”(Organizer)，性格特徵為：規律、精確、有條理、堅毅、謹慎、有效率、穩重、愛整潔、講求實際、保守、<br>服從指示。
         在職業性格傾向上，事務型的人個性謹慎，做事講求規矩與精確，樂於處理資料、計算及文書，喜歡在具有明確規範的<br>環境下工作，能夠按部就班、有效率、精確仔細地完成主管交辦的工作。
         事務型的人的價值觀是較傳統的，會選擇社會所認同的<br>工作及價值觀行事，生活觀是講求踏實與實際，不喜歡改變或創新，也不喜歡冒險或領導。
         在問題解決策略上，會選擇跟隨<br>既定的法則、常規和程序行事，仰仗權威的建議和諮詢、尋求實用的解決方案，能夠制定有次序且仔細的計畫解決問題。<br>
         事務型的人喜歡從事規律與有條理的工作，其典型職業為：會計師、精算師、銀行人員、行政人員、出納、速記人員、<br>簿記人員、場記、電腦系統分析師、資產管理專員等。</div><br><br>
         <br><br>
    <img src="/static/8888.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">社會型的人是典型的“幫助者”(helper)，在性格特徵上是合作、友善、慷概、助人、仁慈、負責、善社交、善解人意、敏銳、圓融、和善。
         在職業性格傾向上，社會型的人對人親切和善、體恤他人、容易相處，關心自己與他人的感受，喜歡傾聽和了解他人，喜歡運用與他人交往的能力來教導或幫助他人、改變他人的行為。
         社會型的價值觀是相信人人平等，不喜歡競爭、喜歡團體合作，並願意協助解決他人的衝突，喜歡教導別人、幫助他人成長。
         在問題解決策略上，重視以人際互動及關係來覺察及檢視問題，關心人勝於關心工作，偏好以感情及情緒而非理性去解決問題，較不認同具邏輯、才智或有著刺激精采的生活很重要。
         社會型的人喜歡從事幫助人與教導人的工作，其典型職業為：教師、輔導人員、傳教士、精神科醫師、護士、職能治療師、社工師、人力資源專員、調酒師、理財專員、物理治療師等。</div><br><br>
         
    </font>
    <table width="90%" border="0" align="center">
        <tr>
            <td align="center">
                <font size="4px" color="#FF60AF">
                <em><strong>若將我的測驗結果與全台灣的大學生進行比較:<br>
我對實用型的職業興趣之百分等級是PR72，也是說我對實用型職業類型的興趣程度在100個人裡面超過72人;我對事務型的職業興趣之百分等級是PR45，也是說對事務型職業類型的興趣程度在100個人裡面超過45人;我對社會型的職業興趣之百分等級是PR40，也是說我對社會型職業類型的興趣程度在100個人裡面超過40人。</em></strong>
            </td>
        </tr>
    </table>
    <br><br>


        
<table width="100%" border="0" align="center" bgcolor=" #97CBFF">
        <tr>
            <td align="center">
                資料來源: UCAN大專學院就業職能平台https://ucan.moe.edu.tw/Account/Login.aspx
            </td>
        </tr>
    </table>
    </body>
</html>