<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首頁</title>
    </head>
    <body bgcolor="#ADADAD">
        <br>
         <table width="90%" border="1" align="center">
        <tr>
            <td>
                <div style="padding-left: 50px;"><h1>王梓芸</h1>
                <h2 id="h2text">Zi Yun Wang</h2>
                </div>
            </td>

            
        </tr>
    </table>
    <table width="90%" border="1" align="center">
        
        <tr>
            

            <td>
                <font size="5px">
                目前的期望:<br>
                <hr>
                1.大三考取托福證照<br>
                2.考研究所<br>
                3.順利畢業<br>
                </font>
            </td>

            <td>
                <font size="5px">
                學歷:<br>
                靜宜大學<br>
                <hr>
                科系:<br>
                資訊管理學系<br>
                </font>
            </td>
        </tr>
    </table>
    <table width="90%" border="1" align="center">
        
        <tr>
            <td>
                <font size="5px">
                聯絡方式:<br>
                </font>
                <font size="4px">
                <hr>
                IG：<a href="https://www.instagram.com/" target="_blank">www.instagram.com</a><br>
                <hr>
                Tel: <a href="tel:0908301993">0908301993</a><br>
                <hr>
                G-Mail: <a href="mailto:nlpss99019@gmail.com">nlpss99019@gmail.com</a><br>
                </font>
                
            </td>
        </tr>
    </table>
<br>
    <table width="100%" border="0" align="center" bgcolor=" #97CBFF">
        <tr>
            <td align="center">
                Copyright © 2023-2024 Zi Yun Wang's
            </td>
        </tr>
    </table>
    </body>
</html>